.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.navbar a{
    text-decoration: none  !important;
    color: rgb(20, 19, 19);
}
.card a{
    color: white;
}
.card a:hover{
    color: black;
}
.bi{
    font-size: 1.35rem;
    padding: 2px;
    display: inline;
}
.fas{
    
        font-size: 3rem;
        padding: 20px;
        display: inline;
    
}
.nav-item{
    padding: 5px;

}

.talktome{
    display: block;margin-left: auto;margin-right: auto;width: 50%;
    margin-top: 40px;
    font-size: 1.35rem;
}